<footer>
  <div class="f-info">

    <div class="f-info-social">

          <a href="https://www.linkedin.com/in/tagur-kethavath18/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="https://www.instagram.com/tagur_k/?hl=en" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://github.com/tagur18" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href="mailto:tagorerathod18@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>

    </div>

    <div class="f-info-brand">
      &copy; Nestify Private Limited
    </div>

    <div class="f-info-links">
      <a href="https://www.airbnb.co.in/help/article/3175">Privacy Policy & Terms & Conditions</a>
      
    </div>

  </div>
</footer>